
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #1e77ec;
    --clr-main-light: #8dbcf1;
    --clr-white: #ececec;
    --clr-gray: #afa9a9;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.container_master_carr{
    background-color: var(--clr-main);
    margin: 0px;
    padding: 1.5rem;
    border-top-right-radius: 2rem;
   border-radius: 0rem;

}

.navbar{
    background-color: var(--clr-main);
   border-radius: 1rem;
}

main {
    background-color: var(--clr-gray);
    margin: 1rem;
    margin-left: 0;
    padding: 2rem;
    border-radius: 2rem;
}
.imagen_producto_carrito{
    width: auto;
}

.card{
    display: flex;
    border-radius: 1rem;
    max-height: 10rem;
}
.img-fluid{
    max-height: 80%;
padding: 1rem;

}

.card-body{
    max-width: 100%;
}

.card-title{
    margin: .5rem;
    display: flex;
    width: auto;
    justify-content: space-between;
}

.card-text{
    margin: 1rem;
}
.sub_total{
    display: flex;
    justify-content: space-between;
}
 .mas_menos{
    background-color: var(--clr-main-light);
    margin: 1rem;
    display: flex;
    border:3px var(--clr-main-light) solid;
    border-radius: 2rem; 
    width: 6rem;
    padding-inline-start: .25rem;
    padding-inline-end: .25rem;
    justify-content: space-between;
    align-items: center;
 }
 .menos{
    background-color: var(--clr-main-light);
    border: none;
    border-radius: 50%;
 }

 .mas{
    background-color: var(--clr-main-light);
    border: none;
    border-radius: 50%; 
 }